@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

body {
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 130px;
  font-family: Kumbh Sans;
}

.nav-bar {
  border-bottom: 1px solid rgb(187, 186, 186);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
}

.links a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.profile-pic {
  height: auto;
  width: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
